<!DOCTYPE html>
{% load static %}
<html lang="es" style="height: 100%;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biblioteca del Liceo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="icon" href="{% static 'libros/img/icono.svg' %}" type="image/x-icon"> <!- Añade esta línea -->
    <link rel="shortcut icon" href="{% static 'libros/img/icono.svg' %}" type="image/x-icon"> <!- Opcional para navegadores antiguos -->
    {% block head %}
    {% endblock %}
    <style>
        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh; /* Asegura que el body ocupe al menos la altura de la ventana */
        }

        main {
            flex-grow: 1; /* Permite que el main (donde está el content) crezca */
        }

    </style>
</head>
<body style="height: 100%;">
    <header>
        {% block header %}
        {% endblock %}
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        {% block footer %}
            {% include 'libros/footer.html' %}
        {% endblock %}
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    {% block scripts %}
    {% endblock %}
</body>
</html>