<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<footer class="bg-dark text-white py-4">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4 mb-3 text-center">
                <h5>Horario</h5>
                <p>Lunes a Viernes: 8:00 - 18:00</p>
            </div>
            <div class="col-md-4 mb-3 text-center">
                <h5>Contacto</h5>
                <p><i class="fas fa-envelope me-2"></i>crapolitecnico@gmail.com</p>
                <p><i class="fas fa-phone me-2"></i>+56 44 335 1916</p>
            </div>
            <div class="col-md-4 mb-3 text-center">
                <h5>Síguenos</h5>
                <div class="d-flex justify-content-center mb-2"> {# d-flex para centrar los iconos, mb-2 para un pequeño margen #}
                    <a href="https://www.facebook.com/liceo.politecnico.capitan/" class="text-white me-3" target="_blank"><i class="fab fa-facebook-f fa-lg"></i></a>
                    <a href="https://www.instagram.com/liceopolitecnicosancarlos/" class="text-white" target="_blank"><i class="fab fa-instagram fa-lg"></i></a>
                </div>
                <div> {# Este div contendrá solo el enlace web, centrado por text-center de la columna padre #}
                    <a href="https://www.politecnicosancarlos.cl/" class="text-white text-decoration-none" target="_blank">
                        <i class="fas fa-globe me-2"></i>Visita Nuestra Web
                    </a>
                </div>
            </div>
        </div>
        <hr>
        <p class="text-center mb-0">&copy; 2025 Biblioteca del Liceo Politécnico Capitán Ignacio Carrera Pinto de San Carlos. Todos los derechos reservados.</p>
    </div>
</footer>
</html>